<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>列表渲染</title>
		<script type="text/javascript" src="js/vue.js"></script>
	</head>
	<body>
		<div id='app'>
			<div>{{test}}</div>
			<ul>
				<li v-for="item in items">
					{{item.text}}
				</li>
			</ul>
			<ul>
				<li v-for="(item,index) in items">
					{{item.text}}+{{index}}
				</li>
			</ul>
			<ul>
				<li v-for="(item,index) of items">
					{{item.text}}+{{index}}
				</li>
			</ul>
			<!-- 你也可以用 v-for 来遍历一个对象的属性 -->
			<ul>
				<li v-for="value of vFor">
					{{value}}
				</li>
			</ul>
			<ul>
				<!-- 顺序有关系 不能放在第一个上面 -->
				<li v-for="(value123,name,index) of vFor">
					{{index}}+{{name}}+{{value123}}
				</li>
			</ul>
			<div v-for="item in items" v-bind:key="item.id">
				<!-- 内容 -->{{item}}
			</div><br>
			<div v-for="item in items2" v-bind:key="item.id">
				<!-- 内容 -->{{item}}
			</div>

			<ul>
				<template v-for="item in items">
					<li>{{ item.msg }}</li>
					<li class="divider" role="presentation"></li>
				</template>
			</ul>
		</div>
	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el: "#app",
			data: {
				test: "23432",
				vFor: {
					title: "title123",
					message: "message123"
				},
				items: [{
					id: 1,
					msg:'msg1',
					text: "text1"
				}, {
					id: 2,
					msg:'msg2',
					text: "text2"
				}],
				items2: ['1', '2', '3']
			}
		})
		// vm.items[0] = 'x'; // 不是响应式的
		// vm.items.length = 2; // 不是响应式的
		// vm.items2[2] = 'x'; // 设置完成之后不会响应到页面
		// Vue.set
		//Vue.set(vm.items2, 2, 'xx') // 解决直接赋值不能渲染页面问题
		// Array.prototype.splice
		//vm.items2.splice(0, 1, 'xxx')
		// 解决数组长度不能修改问题  不过好像不好用
		vm.items2.splice(4);
		console.log(vm.items2.length)

		//vm.$set(vm.items2, 0, 'newValue')
	</script>
</html>
